/* General Body and Container Styling */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #20b6bb;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

#cityInput {
    width: 250px;
    padding: 10px;
    border: 1px solid #045153;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: 0;
    background-color: #05899b;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-btn:hover {
    background-color: #15aeb3;
}

/* Box Styling */
.box {
    border: 1px solid #e0e0e0;
    padding: 20px;
    background-color: rgb(152, 236, 225);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Title Styling */
h2 {
    font-size: 22px;
    color: #ffffff;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #1ae1e8;
    width: calc(100% - 40px);
    margin: 0 auto;
    background: #0b8f8f;
    z-index: 2;
    box-sizing: border-box;
}

/* Align Content Vertically in Containers */
.box-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 30px 20px 20px;
    text-align: center;
    box-sizing: border-box;
}

.current-weather {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.current-weather h2 {
    margin-top: 0;
}

#currentWeather h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}


.current-weather .box-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.current-weather .location {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

/* Map Container Styling */
.openstreet-map {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#map {
    width: 100%;
    height: calc(95% - 10px);
    border-radius: 12px;
    z-index: 1;
}

/* Hourly Forecast Container Styling */
.hourly-forecast {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.hourly-forecast .forecast-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.hourly-forecast .forecast-table th,
.hourly-forecast .forecast-table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #065361;
    font-size: 20px;
}

.hourly-forecast .forecast-table th {
    background-color: #118fa0;
    font-weight: bold;
}

.hourly-forecast .forecast-table tbody tr:hover {
    background-color: #79f1e7;
}

.forecast-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.hourly-forecast-graph {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: hidden;
}

.hourly-forecast-graph canvas {
    margin-top: 20px;
    height: calc(100% - 40px);
    width: 100%;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .box,
    .openstreet-map,
    .hourly-forecast,
    .hourly-forecast-graph {
        width: 100%;
    }
}
